{% extends "muscu_site/base.html" %}

{% load static %}

{% block title %}Suppression de séance{% endblock %}

{% block content %}
<div class="block-exercise text-align-center">
  {% block message %}{% endblock %}
  <form method="post">
    {% csrf_token %}
    <div class="align-space-between">
      <div class="button-margin">
        <a href="{% block url %}{% endblock %}" class="button second-button--red">Annuler</a>
      </div>
      <div class="button-margin">
        <button type="submit" name="button_delete" class="button main-button--red ">Supprimer</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
