{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" text="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %} - Programme de muscu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container">
      {% block logo %}
      <a href="{% url 'sessions_list' %}">
        <img src="{% static 'logo-muscu_site--white.png' %}" alt="white logo" class="logo">
      </a>
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
