<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Création d'une séance - Rogramme de musculation</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <p>
        <h1><input type="text" name="session_title" value="Titre de la séance"></h1>
        <br>
        <input type="text" name="creation_date" value="Date de création">
      </p>

      <div class="exercice">
        <h2><label for="ex_name">Exercice</label><br></h2>
        <div class="">
          <input type="text" name="ex1" value=""><br>
          <input type="text" name="ex2" value=""><br>
          <input type="text" name="ex3" value=""><br>
        </div>
      </div>

      <div class="sets">
        <h2><label for="ex_name">Exercice</label><br></h2>
        <div class="">
          <input type="text" name="ex1" value=""><br>
          <input type="text" name="ex2" value=""><br>
          <input type="text" name="ex3" value=""><br>
        </div>
      </div>

    </form>
  </body>
</html>
