{% extends "muscu_site/base.html" %}

{% load static %}

{% block title %}Création d'une séance{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}

  <div class="block-title text-align-center">

    <div class="title">
      <label for="{{session_form.session_title.id_for_label}}" class="title-label">
        {{session_form.session_title.label}}<br>
      </label>
        {{ session_form.session_title }}

    </div><br>
    <div class="date">
      <label for="{{session_form.date.id_for_label}}">
        {{session_form.date.label}}<br>
      </label>
      <input type="date" name="date">
      {{ session_form.date.errors }}

    </div>

  </div>


  <div class="block-exercises">
    {{ exercise_formset.management_form }}

    <div class="second-title text-align-center">
      <span class="w-3-9 exercise">Exercice</span>
      <span class="w-2-9 sets">Séries</span>
      <span class="w-2-9 reps">Répétitions</span>
      <span class="w-2-9 break_time">Temps de pause</span>
    </div>

    <div class="fields-container">
      {% for form in exercise_formset %}
      <div class="fields-row">
        <div class="fields-col exercise w-3-9">
          {{form.exercise}}
        </div>
        <div class="fields-col w-2-9">
          {{form.sets}}
        </div>
        <div class="fields-col w-2-9">
          {{form.reps}}
        </div>
        <div class="fields-col w-2-9">
          {{form.break_time}}
        </div><br>
      </div>
      {% endfor %}
    </div>

    <div>
      <a class= "button-add" href="#">Ajouter un exercice</a>
    </div>

    <div class="on-right">
      <button type="submit" name="button" class="button-submit">Enregistrer</button>
    </div>

    <div class="hidden extra-row">
      <div class="fields-row">
        <div class="fields-col exercise w-3-9">
          {{exercise_formset.empty_form.exercise}}
        </div>
        <div class="fields-col w-2-9">
          {{exercise_formset.empty_form.sets}}
        </div>
        <div class="fields-col w-2-9">
          {{exercise_formset.empty_form.reps}}
        </div>
        <div class="fields-col w-2-9">
          {{exercise_formset.empty_form.break_time}}
        </div><br>
      </div>
    </div>

  </div>

</form>

<script type="text/javascript">
  var buttonAdd = document.querySelector('.button-add');

  function addRow(){
    const extraRow = document.querySelector('.extra-row .fields-row');
    const fieldContainer = document.querySelector('.fields-container');


    newNbRow = document.querySelector('#id_form-TOTAL_FORMS').value++;
    let clonedRow = extraRow.cloneNode(true);
    clonedRow.innerHTML = clonedRow.innerHTML.replace(/__prefix__/g, newNbRow);
    fieldContainer.appendChild(clonedRow);

  }

  buttonAdd.addEventListener('click', addRow);

</script>

{% endblock %}
