{% extends "muscu_site/base.html" %}

{% block title %}Liste des séances{% endblock %}

{% block content %}
<div class="block-title">
  <div class="title-large text-align-center">
    Liste des séances
  </div>
</div>

<div class="button-create-session text-align-center">
  <a href="{% url 'create_session' %}">Créer une nouvelle séance</a>
</div>

<div class="page-block">

<div class="column-block">
  <div class="column-title">Séances planifiées</div>
    {% for session in training_sessions %}
      <div class="session-block">
        <div class="session-block-title">
          <a href="{% url 'complete_session' session.id %}">{{ session.session_title }}</a>
        </div>
        <div class="session-block-date">
          <a href="{% url 'complete_session' session.id %}">{{ session.date }}</a>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if training_sessions_completed %}
  <div class="column-block">
    <div class="column-title">Séances complétées</div>
    {% for session_completed in training_sessions_completed %}
      <div class="session-block">
        <div class="session-block-title">
          {{ session_completed.training_session.session_title }}
        </div>
        <div class="session-block-date">
          {{ session_completed.date_completed }}
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}

</div>


{% endblock %}
