{% extends "muscu_site/base.html" %}

{% load static %}

{% block title %}Liste des séances{% endblock %}

{% block content %}

<div class="block-title">
  <div class="main-title--large text-align-center">
    Liste des séances
  </div>
</div>

<a href="{% url 'create_session' %}" class="button-create-session text-align-center">Créer une nouvelle séance</a>

<div class="page-block">

  <div class="column-block">
    <div class="column-title">Séances planifiées</div>
      {% for session in training_sessions %}
        <div class="session-block">
          <a href="{% url 'complete_session' session.id %}">
            <span class="session-block-title">{{ session.session_title }}</span><br>
            <span class="session-block-date">{{ session.date }}</span>
          </a>
        </div>
      {% endfor %}
  </div>

  {% if training_sessions_completed %}
  <div class="column-block">
    <div class="column-title">Séances complétées</div>
    {% for session_completed in training_sessions_completed %}
      <div class="session-block">
        <a href="{% url 'session_summary' session_completed.id %}">
          <span class="session-block-title">{{ session_completed.training_session.session_title }}</span><br>
          <span class="session-block-date">{{ session_completed.date_completed }}</span>
        </a>
      </div>
    {% endfor %}
  </div>
  {% endif %}

</div>


{% endblock %}
