{% extends "muscu_site/base.html" %}

{% block title %}Résumé d'une séance{% endblock %}

{% block content %}

<div class="block-title text-align-center">
  <div class="main-title">
    {{ training_session_completed.training_session.session_title }}
  </div>
  <div class="date">
    {{ training_session_completed.date_completed }}
  </div>
</div>

{% for exercise_completed in exercises_completed %}
  <div class="block-white">

    <div class="second-title">
      {{ exercise_completed.exercise.exercise }}
    </div>
    <div class="items-online">
      <div class="form-item--black">
        {{ exercise_completed.exercise.sets }} séries
      </div>
      <div class="form-item--black">
        {{ exercise_completed.exercise.reps }} répétitions
      </div>
      <div class="form-item--black">
        Temps de pause: {{ exercise_completed.exercise.break_time }}sec.
      </div>
      <div class="form-item--black">
        {% if exercise_completed.weight == 0 %}
          Pas de poids
        {% else %}
          Poids: {{ exercise_completed.weight }}kg
        {% endif %}
      </div>
    </div>

    {% if exercise_completed.comment %}
    <div class="items-online">
      <div class="form-item--black comment-block">
        <div class="comment-block__title">Commentaire:</div>
        {{ exercise_completed.comment }}
      </div>
    </div>
    {% endif %}

  </div>
{% endfor %}

<div class="align-space-between">
  <div class="button-margin">
    <a href="{% url 'delete_session_completed' session_completed_id=training_session_completed.id %}"
       class="button second-button--white">Supprimer le résumé de séance</a>
  </div>
  <div class="button-margin">
    <a href="{% url 'sessions_list' %}" class="button main-button--white">Retour à la liste des séances</a>
  </div>
</div>

{% endblock %}
