{% extends "muscu_site/base.html" %}

{% load static %}

{% block title %}Complétion d'une séance{% endblock %}

{% block logo %}
<a href="{% url 'sessions_list' %}">
  <img src="{% static 'logo-muscu_site--white.png' %}" alt="white logo" class="logo">
</a>
{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}

  <div class="block-title text-align-center">
    <div class="main-title">
      {{ training_session.session_title }}
    </div>
    <div class="date">
      {{ session_completed_form.date_completed.label }}<br>
      {{ session_completed_form.date_completed }}
      {% include "muscu_site/_field_errors.html" with field=session_completed_form.date_completed extra_classes="error-validation-list--white" %}
    </div>
  </div>

  {{ exercise_completed_formset.management_form }}

  {% for exercise, form in list_exercise_form %}
  <div class="block-white">

    <div class="second-title">
      {{ exercise.exercise }}
    </div>
    <div class="items-online">
      <div class="form-item--black">
        {{ exercise.sets }} séries
      </div>
      <div class="form-item--black">
        {{ exercise.reps }} répétitions
      </div>
      <div class="form-item--black">
        Temps de pause: {{ exercise.break_time }}sec.
      </div>
    </div>

    {{ form.exercise }}
    <div class="items-linewrap">
      <div class="form-item--red ">
        {{ form.weight.label }}
        <input type="checkbox" name="checkbox" class="checkbox">
        <div class="weight hidden">
          {{ form.weight }} kg.
          {% include "muscu_site/_field_errors.html" with field=form.weight extra_classes="error-validation-list--red" %}
        </div>
      </div>
      <div class="form-item--red">
        {{ form.comment.label }}<br>
        {{ form.comment }}
      </div>
    </div>

  </div>
  {% endfor %}

  <div class="align-space-between">
    <div class="button-margin">
      <a href="{% url 'delete_session' session_id=training_session.id %}"
         class="button second-button--white">Supprimer la séance</a>
    </div>
    <div class="button-margin">
      <button type="submit" name="button_save" class="button main-button--white">Enregistrer</button>
    </div>
  </div>

</form>

<script type="text/javascript">
  let checkboxes = document.querySelectorAll('.checkbox');

  for (let i = 0; i < checkboxes.length; i++){
    checkboxes[i].addEventListener('change', function() {
      let weightInputs = document.querySelectorAll('.weight');
      if (this.checked) {
        weightInputs[i].style.display = 'block';
      } else {
        weightInputs[i].style.display = 'none';
      };
    });
  };

</script>

{% endblock %}
