{% extends "muscu_site/base.html" %}

{% load static %}

{% block title %}Création d'une séance{% endblock %}

{% block content %}
<form class="" action="" method="post">
  {% csrf_token %}

  <div class="block1 text-align">

    <div class="title">
      <label class="title-label">
        Titre de la séance:<br>
        {{ session_form.session_title }}
      </label>
    </div><br>
    <div class="date">
      <label >
        Date de création:<br>
        {{ session_form.date }}
        {{ session_form.date.errors }}
      </label>
    </div>

  </div>


  <div class="block2 text-align">
    {{ exercice_formset.management_form }}

    <div class="column">
      <h2><label for="">Exercice</label></h2><br>
      {% for form in exercice_formset %}
        <div class="answer_box">
          {{ form.exercice }}
        </div>
      {% endfor %}
    </div>

    <div class="column">
      <h2><label for="">Séries</label></h2><br>
      {% for form in exercice_formset %}
        <div class="answer_box">
          {{ form.sets }}
        </div>
      {% endfor %}
    </div>

    <div class="column">
      <h2><label for="">Répétitions</label></h2><br>
      {% for form in exercice_formset %}
        <div class="answer_box">
          {{ form.reps }}
        </div>
      {% endfor %}
    </div>

    <div class="column">
      <h2><label for="">Temps de pause</label></h2><br>
      {% for form in exercice_formset %}
        <div class="answer_box">
          {{ form.break_time }}
        </div>
      {% endfor %}
    </div>


    <div>
      <a class= "button_add" href="#">Ajouter un exercice</a>
    </div>

    <div>
      <button type="submit" name="button">Enregistrer</button>
    </div>

  </div>

</form>

<script type="text/javascript">
  let nb_row = 3;

  let buttonAdd = document.querySelector('.button_add');

  let columnList = document.querySelectorAll('.column');

  function add_row(column){
    nb_row++;


    let row = document.createElement('div');
    row.className = 'answer_box';

    let inp = document.createElement('input');
    inp.type = "text";

    let nextLine = document.createElement('br');


  }

  columnList.forEach((column) =>{
    add_row(column);
  })

</script>

{% endblock %}
