:root {

  /* colors */
  --main-color: #ce3a3a;
  --main-color-light:#ce3a3aab;

  /* spacing */
  --spacing-tiny: 2px;
  --spacing-smaller: 5px;
  --spacing-small: 15px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
  --spacing-larger: 60px;
  --spacing-xl: 80px;

  /* font size */
  --font-size-button-smaller: 1.1rem;
  --font-size-button: 1.25rem;
  --font-size-text-smaller: 1.3rem;
  --font-size-text: 1.5rem;
  --font-size-title-medium: 2rem;
  --font-size-title-large: 2.2rem;

  /* font weight */
  --font-weight-bold: bold;
  --font-weight-bolder: 800;

  /* border radius */
  --main-border-radius: 20px;
  --border-radius-button: 10px;
}

body {
  font-size: var(--font-size-text);
}

html {
  background-color: var(--main-color);
  box-sizing: border-box;
  font-family: sans-serif;
}

/* button */

.button-submit {
  background-color: var(--main-color);
  color: white;
  padding: var(--spacing-medium);
  border-radius: var(--boder-radius-button);
  font-size: var(--font-size-button);
  cursor: pointer;
  margin-top: var(--spacing-large);
  margin-right: var(--spacing-large)
}

.button-submit:hover {
  background-color: var(--main-color-light);
}

.button-add {
  padding: var(--spacing-medium);
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

.button-add:hover {
  font-weight: var(--font-weight-bold);
}


/* title */

.title-label {
  font-size: var(--font-size-title-large);
  text-align: center;
  color: white;
  font-weight: var(--font-weight-bolder);
  margin-top: var(--spacing-medium);
}

.second-title {
  display: flex;
  justify-content: space-around;
}

.second-title span {
  border: 5px solid var(--main-color);
  color: var(--main-color);
  font-size: var(--font-size-title-medium);
  border-radius: var(--spacing-medium);
  padding: var(--spacing-medium);
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
  font-weight: var(--font-weight-bold);
}

/* blocks and containers */

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.fields-container {
  padding-left: var(--spacing-xl);
  padding-right: 0px;
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-larger);
}

.block-title {
  border: 5px solid white;
  max-width: 600px;
  height: 200px;
  margin: var(--spacing-medium) auto;
  padding: auto;
  border-radius: var(--main-border-radius);
}

.block-exercises {
  background-color: white;
  border-radius: var(--main-border-radius);
  padding-bottom: var(--spacing-larger);
  padding-top: var(--spacing-large);
  margin-top: var(--spacing-xl);
}

.on-right {
  display: flex;
  justify-content: flex-end;
}

/* block title */

.block-title input {
  max-height: 25px;
  max-width: 350px;
  font-size: var(--font-size-text);
  background-color: white;
}

.date {
  font-size: var(--font-size-title-medium);
  color: white;
  text-align: center;
  font-weight: var(--font-weight-bold);
  padding: inherit;
}

/* block exercises */

.fields-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-small);
  padding-top: var(--spacing-small);
}

.fields-col input {
  max-height: 30px;
  width: 90%;
  font-size: var(--font-size-text);
}

.exercise input {
  min-width: 350px;
}

.second-title .w-3-9{
  width: 500px;
}

.second-title .w-2-9{
  width: 333.34px;
}


/* diverse */

.text-align-center {
  text-align: center;
}

.hidden {
  display: none;
}

.errorlist li {
  list-style: none;
  font-style: italic;
  font-size: var(--font-size-text);
}

/* smaller device */

@media(max-width: 1290px) {
  .fields-container {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }

  .exercise input {
    width: 90%;
    min-width: 250px;
    margin-right: 10px;
  }
}

@media(max-width: 885px) {
  body {
    font-size: var(--font-size-text-smaller);
  }

  .second-title h2 {
    font-size: var(--font-size-text);
    margin-right: var(--spacing-smaller);
    margin-left: var(--sapcing-smaller);
  }

  .exercise input {
    margin-right: var(--spacing-smaller);
    min-width:200px;
  }
}

@media(max-width: 625px) {
  body {
    font-size: var(--font-size-text-smaller);
  }


  .second-title h2 {
    border: none;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    border-radius: none;
    padding: var(--spacing-tiny);
  }

  .exercise input {
    margin-right: var(--spacing-smaller);
  }

  .button-submit {
    color: white;
    padding: var(--spacing-medium);
    font-size: var(--font-size-button-smaller);
    cursor: pointer;
    margin-top: var(--spacing-large);
    margin-right: var(--spacing-large);
  }
}
