body {
  font-size: 1.5rem;
}

html {
  background-color: #ce3a3a;
  box-sizing: border-box;
}

/* button */

.button-submit {
  background-color: #ce3a3a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  margin-right: 40px
}

.button-submit:hover {
  background-color: #ce3a3aab;
}

.button-add {
  padding: 20px;
  color: #ce3a3a;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.button-add:hover {
  font-weight: bold;
}


/* title */

.title {
  font-size: 35px;
  text-align: center;
  color: white;
  font-weight: 800;
  margin-top: 15px;
}

.second-title {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 40px;
}

.second-title h2 {
  border: 5px solid #ce3a3a;
  color: #ce3a3a;
  font-size: 35px;
  border-radius: 20px;
  padding: 20px;
}

/* blocks and containers */

.container {
  font-family: sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

.fields-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.block1 {
  border: 5px solid white;
  width: 600px;
  height: 200px;
  margin: 20px auto;
  padding: auto;
  border-radius: 20px;
}

.block2 {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 50px;
  padding-top: 40px;
  margin-top: 70px
}

.on-right {
  display: flex;
  justify-content: flex-end;
}

/*block 1*/

.block1 input {
  height: 25px;
  width: 350px;
  font-size: 20px;
}

.date {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 600;
}

/* block 2 */

.fields-row {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.fields-col {
  padding-left: 40px;
  padding-right: 40px;
}

.fields-col input {
  height: 30px;
  width: 270px;
  font-size: 20px;
}


/* diverse */

.text-align {
  text-align: center;
}

.hidden {
  display: none;
}

@media(max-width: 1430px) {
  .fields-col input {
    height: auto;
    width: 100px;
    font-size: auto;
  }

  .exercice input {
    height: auto;
    width: 200px;
    font-size: auto;
  }

  .fields-container {
    padding-left: 20px;
  }

  .fields-row {
    display: flex;
    justify-content: space-around;
  }

  .second-title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .second-title h2 {
    max-width: 178px;
  }
}
