{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" text="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %} - Programme de muscu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container">
      {% if hasnt_all_perms %}
      <div class="band--white text-align-center">
        Tu as un accès restreint au site.<br>
        <a href="#" class="link--red perm-infos">Clique pour en savoir plus</a>
        <p class="hidden infos text-smaller">
          Tu es en mode observateur-trice. Tu as accès à toutes les pages mais tu ne peux pas y apporter de modifications.<br>
          <a href="#" class="link--red hide-infos">J'ai compris</a>
        </p>
      </div>
      {% endif %}
      {% block logo %}
      <div class="header">
        <a href="{% url 'sessions_list' %}" class="text-drive">
          <img src="{% static 'logo-muscu_site--white.png' %}" alt="white logo" class="logo">
        </a>
        <div class="navigation-bar">
          <ul class="menu">
            <li><a href="{% url 'sessions_list' %}">Liste des séances</a></li>
            <li><a href="{% url 'create_session' %}">Créer une séance</a></li>
            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
          </ul>
        </div>
      </div>
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>

</html>

<script type="text/javascript">
  var permInfos = document.querySelector('.perm-infos');
  var hideInfos = document.querySelector('.hide-infos');
  var infos = document.querySelector('.infos');

  function showDetails(){
    infos.style.display = 'block';
    permInfos.style.display = 'none';
  }

  function hideDetails(){
    infos.style.display = 'none';
    permInfos.style.display = 'inline';
  }

  permInfos.addEventListener('click', showDetails);
  hideInfos.addEventListener('click', hideDetails);
</script>
