{% extends "muscu_site/base.html" %}

{% block title %}Création d'une séance{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}

  <div class="block-title text-align-center">

    <div class="title block-adapted-width">
      <label for="{{session_form.session_title.id_for_label}}" class="main-title">
        {{ session_form.session_title.label }}<br>
      </label>
        {{ session_form.session_title }}
    </div>

  </div>

  {{ exercise_formset.management_form }}

  <div class="block-exercises">
    {% for form in exercise_formset %}
    <div class="block-white">
      {% include "muscu_site/_exercise_creation_form.html" with form=form %}
    </div>
    {% endfor %}
  </div>

  <div>
    <a class= "button-add" href="#">Ajouter un exercice</a>
  </div>

  <div class="button-margin on-right">
    <button {% if hasnt_all_perms %}disabled{% endif %} type="submit" name="button" class="button main-button--white">Enregistrer</button>
  </div>

  <div class="hidden extra-row">
    <div class="block-white">
      {% include "muscu_site/_exercise_creation_form.html" with form=exercise_formset.empty_form %}
    </div>
  </div>

</form>


<script type="text/javascript">
  var buttonAdd = document.querySelector('.button-add');

  function addRow(){
    const extraRow = document.querySelector('.extra-row .block-white');
    const blockExercises = document.querySelector('.block-exercises');


    newNbRow = document.querySelector('#id_form-TOTAL_FORMS').value++;
    let clonedRow = extraRow.cloneNode(true);
    clonedRow.innerHTML = clonedRow.innerHTML.replace(/__prefix__/g, newNbRow);
    blockExercises.appendChild(clonedRow);

  }

  buttonAdd.addEventListener('click', addRow);

</script>

{% endblock %}
