{% extends "muscu_site/base.html" %}

{% load static %}

{% block title %}Inscription{% endblock %}

{% block logo %}
<div class="middle-display">
  <img src="{% static 'logo-muscu_site--white.png' %}" alt="white logo" class="logo-login">
</div>
{% endblock %}

{% block content %}
<div class="block-white block-login">
  <div class="second-title text-align-center">
    Inscription
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="block-input--red block-adapted-width">
      <div class="items-linewrap">
        {{ signup_form.username.label_tag }}
        <span>{{ signup_form.username }}</span>
      </div>
      <div class="items-linewrap">
        {{ signup_form.password1.label_tag }}
        <span>{{ signup_form.password1  }}</span>
      </div>
      <div class="items-linewrap">
        {{ signup_form.password2.label_tag }}
        <span>{{ signup_form.password2  }}</span>
      </div>
    </div>
    <div class="middle-display">
      <button type="submit" name="button" class="button main-button--red">Envoyer</button>
    </div>
  </form>
</div>
{% endblock %}
