{% extends "muscu_site/base.html" %}

{% load static %}

{% block title %}Inscription{% endblock %}

{% block logo %}
<div class="middle-display">
  <img src="{% static 'logo-muscu_site--white.png' %}" alt="white logo" class="logo-login">
</div>
{% endblock %}

{% block content %}
<div class="block-white block-login">
  <div class="second-title text-align-center">
    Inscription
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="block-input--red block-adapted-width">
      <div class="items-linewrap">
        {{ signup_form.username.label_tag }}
        <span>{{ signup_form.username }}</span>
      </div>

      {% if signup_form.username.errors %}
      <div class="error-form">
        <p>Ce nom d'utilisateur est peut-être déjà utilisé.</p>
        <p>
          Votre nom d'utilisateur doit contenir au maximum 50 caractères et ne peut être composé que de lettres, de
          chiffres ou des caractères @/,/+/-/_
        </p>
      </div>

      {% endif %}

      <div class="items-linewrap">
        {{ signup_form.password1.label_tag }}
        <span>{{ signup_form.password1 }}</span>
      </div>
      <div class="items-linewrap">
        {{ signup_form.password2.label_tag }}
        <span>{{ signup_form.password2 }}</span>
      </div>

      {% if signup_form.password2.errors %}
        <div class="error-form">
          Votre mot de passe :
          <ul class="">
            <li>Ne peut pas être similaire à vos autres informations personnelles.</li>
            <li>Doit contenir au minimum 8 caractères.</li>
            <li>Ne peut pas être entièrement numérique.</li>
            <li>Ne peut pas être un mot de passe utilisé communément (ex: admin123).</li>
          </ul>
        </div>
      {% endif %}

    </div>

    <div class="middle-display">
      <button type="submit" name="button" class="button main-button--red">Envoyer</button>
    </div>
  </form>

  <div class="text-align-center">
    <a class="button-add--red" href="{% url 'login' %}">J'ai déjà un compte</a>
  </div>
</div>
{% endblock %}
